/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  border-color: var(--font-color) !important
}

/* custom variables */
:root {
  --bg-color: #28303B;
  --font-color: #fff;
  --theme-color: #fdf103;
  /* --theme-color: #EC290F; */
  /* --theme-color: #05E804; */
  --bottom-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  --top-shadow: 0 -.5rem 1rem rgba(0, 0, 0, 0.05);
  --box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.05);
  --light-border: rgba(0, 0, 0, 0.1);
}

.light-mode {
  --theme-color: #EC290F;
  --bg-color: #ECECEC;
  --font-color: #000;
  --bottom-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  --top-shadow: 0 -.5rem 1rem rgba(0, 0, 0, 0.05);
  --box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.05);
  --light-border: rgba(0, 0, 0, 0.1);
}


body,
html {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  /* scroll-snap-type: y mandatory; */
}

nav,
section {
  /* scroll-snap-align: start */
}

::selection {
  background: var(--theme-color);
  color: #000;
}

.bg {
  background: var(--bg-color) !important
}

.bg-theme {
  background-color: var(--theme-color) !important
}

.text-theme {
  color: var(--theme-color) !important
}

.text-bg {
  color: var(--bg-color) !important
}

.font-color {
  color: var(--font-color) !important
}

.raleway {
  font-family: "Raleway", sans-serif !important
}

/* ===GLOBAL CLASS=== */
.h-full {
  height: 100vh !important;
}

.right-5p {
  right: 10%;
}

.w-fc {
  width: fit-content;
}

.h-200 {
  height: 200px;
}

.w-100p {
  width: 100%;
}

.px-10p {
  padding: 0 10%
}

.flex-column {
  flex-direction: column
}

.justify-center {
  align-items: center;
  justify-content: center;
}

.durarion-400 {
  transition: all .4s linear !important
}

input,
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
i,
li,
span,
a {
  color: var(--font-color)
}

.box {
  height: 100% !important;
}

/* ---GLOBAL CLASS---- */

/* ---NAV BTN---- */
.nav-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--font-color);
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.nav-btn .line-1 {
  width: 50%;
  transform: translate(-100%, -9px);
  transform-origin: 0 0;
}

.nav-btn .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(0, 7px);
  transform-origin: 100% 0;
}

.nav-btn.open-menu .line-1 {
  transform: translate(0, 0) rotate(-45deg)
}

.nav-btn.open-menu .line-2 {
  transform: translate(-50%, -50%) rotate(45deg)
}

.nav-btn.open-menu .line-3 {
  transform: translate(-100%, 0) rotate(-45deg)
}
.sidebar .active{
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color)!important
}
@media (max-width: 600px) {
  .sidebar {
    height: 100vh;
    width: 60vw;
    position: absolute;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
  }

  .sidebar ul {
    width: 70%;
  }

  .sidebar.open-menu {
    left: 0;
  }
}

.sidebar ul li {
  font-weight: 500;
}

.sidebar ul li:hover {
  color: var(--theme-color);
}

/* HOMEPAGE */
.home {
  height: 100vh;
  /* width: ; */
}

/* ABOUT */
.heading {
  font-size: 2.5rem !important;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(194, 196, 215, .3);
}
.btn-clip {
  clip-path: polygon(100% 0, 100% 60%, 85% 100%, 0% 100%, 0 20%, 0% 0%);
}

.resume-btn {
  color: var(--theme-color);
}

.resume-btn .btn-bg {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--theme-color);
  z-index: -1;
  transition: .4s linear
}

.resume-btn i {
  color: var(--theme-color);
}

.resume-btn:hover {
  color: var(--bg-color);
}

.resume-btn:hover .btn-bg {
  left: 0%
}

.resume-btn:hover i {
  color: var(--bg-color);
}

/* ABOUT */
.round {
  width: 20px !important;
  height: 20px !important;
}

svg {
  width: 70% !important;
}

.hobbies span {
  transition: all .4s linear;
}

.hobbies li:hover i {
  color: var(--bg-color) !important;
}

.hobbies li:hover span {
  transform: scale(1.05);
  background: var(--theme-color);
  border-color: var(--bg-color) !important;
}

/* WORKS */
.categories {
  width: fit-content;
}
.categories span{
  border-bottom: 2px solid transparent !important;
}
.categories .active {
  color: var(--theme-color);
  font-weight: 500;
  border-bottom: 2px solid var(--theme-color) !important
}

.card:hover {
  transform: translateY(-3px) scale(1.01)
}

.line {
  height: 2px;
}

.show {
  animation: show .3s linear 1;
}

@keyframes show {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

form .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.msg-field .placeholder {
  top: 20%;
}

form textarea:focus~.placeholder,
form textarea:valid~.placeholder,
form input:focus~.placeholder,
form input:valid~.placeholder {
  top: 0;
  color: var(--theme-color);
}

/* form .error{
	opacity: ;
} */
.error {
  opacity: 0;
  pointer-events: none
}

.invalid .error {
  opacity: 1;
  pointer-events: auto;
}

.invalid .input-area {
  border-color: #ED5353 !important
}

.valid .error i,
.valid .error span,
.valid .input-area {
  color: #17C80C !important;
  border-color: #17C80C !important
}

.msg-sent {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  pointer-events: none
}

.msg-sent.show {
  opacity: 1;
  pointer-events: auto;
}

/* ABOUT */
/* ABOUT */